<div class="card-wrapper centerElements">
    <div class="margin" *ngFor="let album of albums">
        <mat-card class="my-4">
            <mat-card-title-group>
                <mat-card-title>{{album.user.name}}</mat-card-title>
                <mat-card-actions align="end">
                    <button mat-icon-button (click)="open(album.id)">
                        <mat-icon>remove_red_eye</mat-icon>
                    </button>
                    <button *ngIf="myAlbums" mat-icon-button color="warn" (click)="delete(album.id)">
                        <mat-icon>delete_outline</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card-title-group>
            <img *ngIf="album.posts[0]" mat-card-image class="centerImage" 
                src="http://localhost:8080/images/{{album.posts[0].id}}/{{album.posts[0].image}}" alt="Angular Logo">
            <img *ngIf="!album.posts[0]" mat-card-image class="centerImage" 
                src="assets/default-post.jpg" alt="Angular Logo">
            <mat-card-content>
                <p>
                    {{album.description}}
                </p>
            </mat-card-content>
            <hr>
            <p>Comentários</p>
            <app-comment-read [comments]="album.comments" (removeComment)="removeComment($event)"></app-comment-read>
            <app-comment-create [albumId]="album.id" (addComment)="receiveComment($event)"></app-comment-create>
        </mat-card>
    </div>
</div>